spring:
  application:
    name: {{ system_name | default('test') }}-backend
  cloud:
    nacos:
      discovery:
        enabled: {{ nacos_enabled | default('true') }}
        server-addr: {{ nacos_addr | default('127.0.0.1:8848') }}
server:
  port: {{ server_port | default(8080) }}
