server:
  port: {{ server_port | default(8080) }}

spring:
  application:
    name: {{ system_name | default('test') }}-backend

  datasource:
    url: jdbc:mysql://45.153.131.127:3306/{{ db_name | default('test') }}?useUnicode=true&characterEncoding=UTF-8&serverTimezone=Asia/Shanghai
    username: root
    password: Password00
    driver-class-name: com.mysql.cj.jdbc.Driver

  {% if orm == "jpa" %}
  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
    open-in-view: false
    properties:
      hibernate:
        format_sql: true
  {% endif %}

  cloud:
    nacos:
      discovery:
        enabled: {{ nacos_enabled | default('false') }}
        server-addr: {{ nacos_addr | default('192.168.50.101:8848') }}
    discovery:
      enabled: {{ nacos_enabled | default('false') }}

{% if orm == "mybatis" %}
mybatis:
  mapper-locations: classpath:mybatis/xml/*.xml
  type-aliases-package: {{ base_package }}.{{ system_name | lower }}.entity
{% endif %}
