<project xmlns="http://maven.apache.org/POM/4.0.0"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 http://maven.apache.org/xsd/maven-4.0.0.xsd">
  <parent>
    <groupId>org.springframework.boot</groupId>
    <artifactId>spring-boot-starter-parent</artifactId>
    <version>{{ spring_boot_version }}</version>
    <relativePath/>
  </parent>
  <modelVersion>4.0.0</modelVersion>
  <groupId>{{ group_id }}</groupId>
  <artifactId>{{ artifact_id }}</artifactId>
  <version>{{ version }}</version>
  <packaging>jar</packaging>
  <name>{{ artifact_id }}</name>
  <description>{{ system_name }} 微服务后端自动生成</description>

  <properties>
    <java.version>{{ java_version }}</java.version>
    <spring-boot.version>{{ spring_boot_version }}</spring-boot.version>
    <spring-cloud.version>{{ spring_cloud_version | default('2023.0.2') }}</spring-cloud.version>
    <spring-cloud-alibaba.version>{{ spring_cloud_alibaba_version | default('2022.0.0.0') }}</spring-cloud-alibaba.version>
  </properties>

  <dependencyManagement>
    <dependencies>
      <dependency>
        <groupId>org.springframework.cloud</groupId>
        <artifactId>spring-cloud-dependencies</artifactId>
        <version>{{ spring_cloud_version | default('2023.0.2') }}</version>
        <type>pom</type>
        <scope>import</scope>
      </dependency>
      <dependency>
        <groupId>com.alibaba.cloud</groupId>
        <artifactId>spring-cloud-alibaba-dependencies</artifactId>
        <version>{{ spring_cloud_alibaba_version | default('2022.0.0.0') }}</version>
        <type>pom</type>
        <scope>import</scope>
      </dependency>
    </dependencies>
  </dependencyManagement>

  <dependencies>
{% for dep in dependencies %}
    <dependency>
      <groupId>{{ dep.groupId }}</groupId>
      <artifactId>{{ dep.artifactId }}</artifactId>
{% if dep.version %}
      <version>{{ dep.version }}</version>
{% endif %}
{% if dep.scope %}
      <scope>{{ dep.scope }}</scope>
{% endif %}
    </dependency>
{% endfor %}
  </dependencies>

  <build>
    <plugins>
{% for plugin in plugins %}
      <plugin>
        <groupId>{{ plugin.groupId }}</groupId>
        <artifactId>{{ plugin.artifactId }}</artifactId>
{% if plugin.version %}
        <version>{{ plugin.version }}</version>
{% endif %}
{% if plugin.configuration %}
        <configuration>
{{ plugin.configuration | safe | indent(10, True) }}
        </configuration>
{% endif %}
      </plugin>
{% endfor %}
    </plugins>
  </build>

{% if repositories %}
  <repositories>
{% for repo in repositories %}
    <repository>
      <id>{{ repo.id }}</id>
      <url>{{ repo.url }}</url>
    </repository>
{% endfor %}
  </repositories>
{% endif %}
</project>
