package {{ system_package }}.repository;

import {{ system_package }}.entity.{{ entity_class_name | default('ReplaceWithEntity') }};
import org.springframework.data.jpa.repository.JpaRepository;
import org.springframework.stereotype.Repository;

@Repository
public interface {{ repository_class_name | default('ReplaceWithRepository') }}
    extends JpaRepository<{{ entity_class_name | default('ReplaceWithEntity') }}, {{ pk_field_java_type | default('Long') }}> {

    // 可以自定义查询方法，例如：
    // List<{{ entity_class_name | default('ReplaceWithEntity') }}> findBySomeField(String someField);
}
